<%= form_for @note, :html => { "data-autosave" => true } do |f| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="info-bar">
    <div class="date-created">
      Created:
      <span class="date">
        <%= note.created_at.localtime.strftime("%b %e, %l:%M %p") %>
      </span>
    </div>
    <div class="date-updated">
      Updated:
      <span id="lastupdated" class="date">
        <%= note.updated_at.localtime.strftime("%b %e, %l:%M %p") %>
      </span>
    </div>
    <div id="actions" class="actions">
      <%= link_to @note, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
      <%= button_tag do %>
        <i class="fa fa-check" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="auto-save">

    </div>
  </div>
  <%= f.text_area :title, class: "title", cols: 1, rows: 1 %>
  <%= f.text_area :content, :value => decryptor(note.content), class:"content" %>

  <%= link_to "Last Updated", note_lastupdated_path(@note), id: "last-updated-btn", remote: true %>
<% end %>

<script>
  autosize(document.querySelectorAll('textarea'));
</script>

<script>
  $(function() {
  var $form = $("form[data-autosave]");
  var savedForm = $form.serialize();
  var autosaveInterval = window.setInterval(saveFormIfChanged, 10000);

  function notify(message, level) {
    if (level === undefined) level = "info";
    // display a notification under the page header
    $('<div class="alert alert-' + level + '">' + message + '</div>').
      appendTo('.auto-save').
      delay(3000).
      fadeOut(500, function() {
        $(this).remove()
      });
  }

  function saveForm() {
    $.ajax({
      url: $form.attr("action"),
      type: "POST",
      data: $form.serialize(),
      dataType: "html"
    }).done(function(data, status, response) {
      notify("Note saved.", "success");
      $('#last-updated-btn').trigger('click');
    }).fail(function(data, status, response) {
      notify("Note failed to save.", "error");
    });
  }

  // function updateLastUpdated() {
  //   $.ajax({
  //     url: "/notes/'#{:note_id}'/lastupdated",
  //     type: "GET",
  //     data: "html"
  //   });
  // }

  function saveFormIfChanged() {
    var currentForm = $form.serialize();

    if (currentForm !== savedForm) {
      saveForm();
      savedForm = currentForm;
      return true;
    } else {
      return false;
    }
  }
  });
</script>
