<%= form_for @note, :html => { "data-autosave" => true } do |f| %>
  <div class="info-bar">
    <div class="date-created">
      Created:
      <span class="date">
        <%= @note.created_at.localtime.strftime("%b %e, %l:%M %p") %>
      </span>
    </div>
    <div class="date-updated">
      Updated:
      <span id="updated_at" class="date">
        <%= @note.updated_at.localtime.strftime("%b %e, %l:%M %p") %>
      </span>
    </div>
    <div id="actions" class="actions">
      <%= link_to @note, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
      <%= button_tag do %>
        <i class="fa fa-check" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="auto-save">

    </div>
  </div>
  <%= f.text_area :title, class: "title", cols: 1, rows: 1, autofocus: true, placeholder: "Untitled" %>
  <%= f.text_area :content, :value => decryptor(@note.content), class:"content", placeholder: "Start typing note content..." %>

<% end %>
<script>
  autosize(document.querySelectorAll('textarea'));
</script>

<script>
  $(function() {
  var $form = $("form[data-autosave]");
  var savedForm = $form.serialize();
  var autosaveInterval = window.setInterval(saveFormIfChanged, 10000);

  function notify(message, level) {
    if (level === undefined) level = "info";
    // display a notification under the page header
    $('<div class="alert alert-' + level + '">' + message + '</div>').
      appendTo('.auto-save').
      delay(3000).
      fadeOut(500, function() {
        $(this).remove()
      });
  }

  function saveForm() {
    $.ajax({
      url: $form.attr("action"),
      type: "POST",
      data: $form.serialize(),
      dataType: "html"
    }).done(function(data, status, response) {
      notify("Note saved.", "success");
      refreshUpdatedAt();
      refreshSidebar();
    }).fail(function(data, status, response) {
      notify("Note failed to save.", "error");
    });
  }

  function refreshUpdatedAt() {
    var id = $form.attr('data-record-id');
    $.ajax({
      url: '/notes/'+id+'/refreshUpdatedAt',
      type: "GET",
      dataType: "html"
    }).done(function(result) {
      $("#refreshUpdatedAt").html(result);
    }).fail(function() {
      console.log("WOMP WOMP");
    });
  }

  function refreshSidebar() {
    $.ajax({
      url: '/refreshSidebar',
      type: "GET",
      dataType: "html"
    }).done(function(result) {
      $("#col-1").html(result);
    }).fail(function() {
      console.log("WOMP WOMP");
    });
  }

  function saveFormIfChanged() {
    var currentForm = $form.serialize();

    if (currentForm !== savedForm) {
      saveForm();
      savedForm = currentForm;
      return true;
    } else {
      return false;
    }
  }
  });
</script>

<script>
  $.FroalaEditor.DEFAULTS.key = 'ND-13glxtj1vzzbE-11bG2ytq==';
</script>

<script>
  $(function() {
    $('#note_content').froalaEditor({
      toolbarInline: true,
      charCounterCount: false,
      toolbarButtons: ['bold', 'formatUL', 'formatOL', 'indent', 'outdent', 'fontSize'],
      tabSpaces: 4,
      placeholderText: 'Start typing note content...',
      enter: $.FroalaEditor.ENTER_DIV
    })
  });
</script>

<script>
$(document).ready(function(){
  var titletext = $('#note_title').val();
  if (titletext == "Untitled") {
    $('#note_title').val("");
  }
})
</script>
