<%= form_for(note) do |f| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <span class="date">
    <%= @note.created_at.strftime("%m-%d-%y") %>
  </span>
  <%= f.text_area :title, class: "title", cols: 1, rows: 1 %>
  <%= f.text_area :content, :value => decryptor(note.content), class:"content" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  autosize(document.querySelectorAll('textarea'));
</script>
