<!DOCTYPE html>
<html>
  <head>
    <title>Sicherenotiz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/49367/SichereNotiz/style.css?ud79um">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.20/autosize.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="search">
        <%= render "global/search" %>
      </div>
      <%= yield %>
    </div>
    <% if user_signed_in? %>
      <%= link_to "+", new_blank_path, :class => "btn-floating btn-add-new" %>
      <a href="#" class="btn-floating btn-search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </a>
      <%= link_to destroy_user_session_path, :method => :delete, :class => "btn-floating btn-signout" do %>
        <i class="fa fa-power-off" aria-hidden="true"></i>
      <% end %>
      <!-- <%= link_to root_path, :class => "btn-floating btn-logo" do %>
        <span class="icon-sincherenotiz-logo header-logo"></span>
      <% end %> -->
    <% end %>
    <script>
      $(".title").focus();
      $( ".btn-search" ).click(function() {
        event.preventDefault();
        $('.search').show();
        $('#search').focus();
      });
      $('input[type=search]').bind("enterKey",function(e){
        $('.search').hide();
      });
      $('input[type=search]').keyup(function(e){
        if(e.keyCode == 13)
          {
            $(this).trigger("enterKey");
          }
        });
    </script>
  </body>
</html>
