<!DOCTYPE html>
<html>
  <head>
    <title>Sicherenotiz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <div class="container">
      <header>
        <%= image_tag("sincherenotiz-logo.svg", class: "header-logo") %>
        <h1>Sinchere<span>Notiz</span></h1>

        <%= render "global/search" %>

        <%= link_to '+', new_note_path, class: "new-note" %>

      </header>
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </body>
</html>
