<!DOCTYPE html>
<html>
  <head>
    <title>Sicherenotiz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/49367/SichereNotiz/style.css?ud79um">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.20/autosize.min.js"></script>
  </head>

  <body>
    <div class="container">
      <header>
        <%= link_to root_path do %>
          <span class="icon-sincherenotiz-logo header-logo"></span>
          <h1>Sichere<span>Notiz</span></h1>
        <% end %>

        <%= render "global/search" %>

        <%= link_to '+', new_note_path, class: "new-note", remote: "true" %>

      </header>
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </body>
</html>
