<!DOCTYPE html>
<html>
  <head>
    <title>Sicherenotiz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/49367/SichereNotiz/style.css?ud79um">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.20/autosize.min.js"></script>
  </head>

  <body>
    <div class="container">

      <% if controller_name == "notes" %>
        <header>
          <%= link_to root_path do %>
            <span class="icon-sincherenotiz-logo header-logo"></span>
            <h1>Sichere<span>Notiz</span></h1>
          <% end %>

          <%= render "global/search" %>

          <div class="accounts">
            <% if user_signed_in? %>
              <%= current_user.fname %> |
              <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
            <% else %>
            <%= link_to "Sign In", new_user_session_path %>
            <% end %>
            <%= link_to new_blank_path, class: "new-note" do %>
              <i class="fa fa-plus-square" aria-hidden="true"></i>
            <% end %>
            <!-- <%= link_to new_note_path, class: "new-note", remote: "true" do %>
              <i class="fa fa-plus-square" aria-hidden="true"></i>
            <% end %> -->
          </div>

        </header>
      <% else %>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
